@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

/* Ensure full height scrolling */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden; /* Add this */
    /* overflow-x: hidden; */
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #d1a6e9; /* light purple */
    border-radius: 8px;
}
